# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignorar todos los node_modules
node_modules/

# Ignorar las carpetas build o dist en caso de que existan
dist/
build/

# Ignorar archivos de configuración específicos de ambiente o editores de texto
.env
.DS_Store
.vscode/
.idea/